<div class="wrapper">

  <div *ngIf='isLoggedIn()'>
    <div id="greeting">
      <h2 class="card-title text-left text-black">Hi {{ getUserName() }}, wellcome back!</h2>
    </div>
    <nav id="sidebar" [ngClass]="{ active: isActive }">
      <ul class="list-unstyled components">
        <li>
          <img src="/assets/img/home.svg" alt="home" width="50" height="50" routerLink="/home">
        </li>
        <li>
          <img src="/assets/img/users.svg" alt="users" width="50" height="50" routerLink="/users">
        </li>
        <li>
          <img src="/assets/img/new_user.svg" alt="new_user" width="50" height="50" routerLink="/adduser">
        </li>
        <li>
          <img src="/assets/img/change_password.svg" alt="change_password" width="50" height="50"
            routerLink="/password">
        </li>
        <li>
          <img id="icon_logout" src="/assets/img/logout.svg" alt="logout" width="50" height="50" (click)="doLogout()">
        </li>
      </ul>
    </nav>


  </div>

  <div id="router-content">
    <router-outlet></router-outlet>
  </div>

</div>