<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #passForm="ngForm">
        <div class="form-group">
            <label for="oldPass">Old Password</label>
            <input type="password" [(ngModel)]="updatePass.oldPassword"
                   class="form-control"
                   id="oldPass"
                   name="oldPass"
                   placeholder="Enter your old password"
                   required #oldPass="ngModel">
          </div>
        <div class="form-group">
          <label for="newPass">New Password</label>
          <input type="password" [(ngModel)]="updatePass.newPassword"
                 class="form-control"
                 id="newPass"
                 name="newPass"
                 placeholder="Enter your new password"
                 required #newPass="ngModel">
        </div>
        <div class="form-group">
            <label for="confirmPass">Confirm Password</label>
            <input type="password" [(ngModel)]="updatePass.confirmedPassword"
                   class="form-control"
                   id="confirmPass"
                   name="confirmPass"
                   placeholder="Confirm your new password"
                   required #confirmPass="ngModel">
          </div>
        <div [hidden]="!newPass.pristine" class="alert alert-danger">New password is required</div>
        <button type="submit" [disabled]="!passForm.form.valid"
                class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>
  